<% return unless @json.present? %>

<aside class="mitlib-suggestion-panel">
  <div class="image-wrapper">
    <% if @json[:journal_image].present? %>
      <%= image_tag(@json[:journal_image]) %>
    <% end %>
  </div>
  <div class="panel-content">
    <button aria-label="Dismiss suggestion" class="dismiss fa fa-times fa-lg"></button>
    <p class="panel-type">Suggested resource</p>
    <h3><%= @json[:title] %></h3>
    <p><%= @json[:journal_name] %></p>
    
    <% if @json[:oa_status] || @json[:best_oa_location].present? || @json[:journal_link].present? %>
      <ul class="metadata">
        <% if @json[:oa_status] %>
          <li>
            Open Access: 
              <%= @json[:oa_status] %>
          </li>
        <% end %>

        <% if @json[:best_oa_location].present? %>
          <li><%= link_to('Open Access Link', @json[:best_oa_location]["url"]) %></li>
        <% end %>

        <% if @json[:journal_link].present? %>
          <li><%= link_to('Browse issues of this publication', @json[:journal_link]) %></li>
        <% end %> 
      </ul>
    <% end %> 

    <%= link_to('Check MIT subscription access', @json[:link_resolver_url], class: 'button secondary') %>
  </div>
</aside>