<h3>Terms awaiting confirmation</h3>

<p>The terms listed here have not yet been reviewed by a person and placed into a category. Clicking on any term will
take you to the form for submitting this information.</p>

<% if can? :confirm_uncategorized, Term %>
<p class="wrap-filters">View:
  <a class="btn button-small button-secondary" href="<%= terms_unconfirmed_path %>">Categorized terms</a>
  <a class="btn button-small button-secondary" href="<%= terms_unconfirmed_path(show: 'all') %>">All terms</a>
</p>
<% end %>

<p><%== pagy_info(@pagy) %></p>

<ul class="list-unbulleted">
<% @records.each do |t| %>
  <li><%= link_to(t.phrase, new_term_confirmation_path(t)) %></li>
<% end %>
</ul>

<%== pagy_nav(@pagy) %>
