<div class="wrap-outer-header-local layout-band">
  <div class="wrap-header-local">
    <% unless ENV['PLATFORM_NAME'] %>
      <div class="local-identity">
        <h2 class="title title-site"><a href="/">TACOS</a></h2>
      </div>
    <% end %>
    <div class="wrap-local-nav">
      <div class="wrap-bar">
        <nav class="local-nav" aria-label="Main menu">
          <%= nav_link_to("Home", root_path) %>
          <% if user_signed_in? %>
            <% if can? :manage, Confirmation %>
              <%= link_to('Confirm terms', terms_unconfirmed_path, class: 'nav-item') %>
            <% end %>
            <% if can? :index, Term %>
              <%= link_to('Admin', admin_root_path, class: 'nav-item') %>
            <% end %>
            <% if can? :view, :playground %>
              <%= link_to('Playground', '/playground', class: 'nav-item') %>
            <% end %>
            <% if can? :view, Categorization %>
              <%= link_to('Categorizations', admin_categorizations_path, class: 'nav-item') %>
            <% end %>
            <% if can? :view, :report %>
              <%= link_to('Reports', report_path, class: 'nav-item') %>
            <% end %>
          <% end %>
        </nav>
        <nav class="nav-user" aria-label="User menu">
          <% if user_signed_in? %>
            <%= button_to("Sign out", destroy_user_session_path, class: 'action-auth', id: "sign_in",
                          method: :delete) %>
          <% else %>
            <% if FakeAuthConfig.fake_auth_enabled? %>
              <%= button_to("Sign in", user_developer_omniauth_authorize_path, id: "sign_in", class: 'action-auth', 
                data: { turbo:false }, method: :post) %>
            <% else %>
              <%= button_to("Sign in", user_openid_connect_omniauth_authorize_path, class: 'action-auth', id: "sign_in",
                data: { turbo:false }, method: :post) %>
            <% end %>
          <% end %>
        </nav>
      </div>
    </div>
  </div>
</div>
